{% extends 'learntemplates/base.html' %}

{% block element %}
{% firstof 1 2 3 %}<br>
It is {% now "jS F Y H:i" %}<br>
{% for q in obj %}
        {{ forloop.counter }}.  <a href="{% url 'hom' %}">{{ q.name }}--{{ q.age }}</a><br>
{% endfor %}
{{ list1|add:list2 }}<br>
{{ value|capfirst }}<br>
{{ datetime_obj|date:"D d M Y" }}<br>
{{ num|divisibleby:"3" }}<br>
{{ phone|phone2numeric }}<br>
{{ pick|random }}<br>
{{ val|truncatewords:2 }}<br>
{{ value|upper }}<br>
{{ value|wordcount }}<br>

{% endblock %}